.recipeItem {
    display: flex;
    flex-direction: column;

    &-image {
        width: 100%;
        height: 50%;
        object-fit: cover;

        border-radius: 20px;
    }

    &-title {
        margin-top: 2rem;

        font-size: 2.4rem;
    }

    &-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 1.6rem;
        font-size: 1.8rem;
    }

    &-rating {
        display: flex;
        justify-content: space-between;
        align-items: center;


        & > * {
            margin-right: 1rem;
        }
    }

    &-author {
        font-weight: bold;
        color: grey;
    }

}